@page "{bookId}"
@using BooksSpot.Core.Enums
@model DetailsModel
@{
}
<a asp-page="./MyBooks" class="btn btn-close"></a>
<h2>@Model.BookDto.Title</h2>
<div>
    Author: @Model.BookDto.Author
</div>
<div>
    Genre: @Model.BookDto.Genre
</div>
<div>
    Publisher: @Model.BookDto.Publisher
</div>
<div>
    Year published: @Model.BookDto.DatePublished.Year
</div>
<div>
    ISBN: @Model.BookDto.Isbn
</div>
<div>
    Book status: @Model.BookDto.Status
</div>

@if (Model.BookDto.Status.Equals(BookStatus.Borrowed))
{
    <div>
        Book is borrowed to: @Model.UserDto.Name
    </div>    
}
@if (Model.BookDto.Status.Equals(BookStatus.Reserved))
{
    <div>
        Book is rezerved to: @Model.UserDto.Name
    </div>
    <div>
        Rezervation expires: @Model.RezervationInfoDto.RezervationExpirationDate
    </div>
    <div>
        Rezerved on: @Model.RezervationInfoDto.RezerverdDate
    </div>

}
